
.picture{
    height: 700px;
    width: 100%;
    background-image: url(../assets/page10img.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    font-size: 5rem;
    font-family: "Changa One";
    font-weight: 900;
    letter-spacing: 6px;
    color: white;
}